doctype html

html(lang="en")

  head

    meta(charset="utf=8")

    meta(http-equiv="Content-type" content="text/html; charset=UTF-8")

    link(rel="icon" type="image/png" href="/images/icons/favicon.ico")

    title School Administration System

    link(rel='stylesheet' type="text/css" href='/stylesheets/style.css')

    link(rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css")

    link(rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css")

    link(rel="stylesheet" type="text/css" href="/vendor/fontawesome/css/all.css")

    link(rel="stylesheet" type="text/css" href="/vendor/animate/animate.css")

    link(rel="stylesheet" type="text/css" href="/vendor/assets/css/material-dashboard.min.css")

    link(rel="stylesheet" type="text/css" href="/vendor/assets/css/material-dashboard.css")

  body

    block content

    script(src="/vendor/assets/js/core/jquery.min.js")

    script(src="/vendor/assets/js/core/popper.min.js")

    script(src="/vendor/assets/js/core/bootstrap-material-design.min.js")

    script(src="/vendor/assets/js/plugins/chartist.min.js")

    script(src="/vendor/assets/js/plugins/bootstrap-notify.js")

    script(src="/vendor/assets/js/material-dashboard.js")

    script(src="/vendor/bootstrap/js/bootstrap.js")

    script(src="/vendor/bootstrap/js/bootstrap.min.js")

    script(src='/javascripts/global.js')

    script(src='/javascripts/sessionExpiry.js')



